html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: url("../assets/img/bg.jpg") -200px 0;
  background-size: cover;
  height: 512px;
  width: 288px;
  color: white;
}

a {
  text-decoration: underline;
  color: white;
}